<div class="row">
    <h2>{{titulo}}</h2>
</div>

<form name="validarValoresPreenchidos">
    <div class="row">
        <!--col-xs-12 col-sm-6 col-md-6 col-lg-6 - Ajusta o tamanho do campo, conforme a resolução-->
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 noleftpadding">
            <input class="form-control" type="text" ng-model="item.nome" placeholder="Nome" required>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 noleftpadding">
            <input class="form-control" type="text" ng-model="item.telefone" placeholder="Telefone" required>
        </div>
    </div>
    <div class="row">
        <div class=" col-xs-12 col-sm-12 col-md-12 col-lg-12 noleftpadding">
            <button class="btn btn-success" ng-disabled="validarValoresPreenchidos.$invalid" 
                    ng-click="save(item.id)">
                <i class="fa fa-check"></i> Salvar
            </button>
            <button class="btn" ui-sref="app.list">
                <i class="icon-ok icon-white"></i> Cancelar
            </button>
        </div>
    </div>
</form>